/* Start Mixin */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes boatAnimate {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(20px, 0);
  }
  75% {
    transform: translate(10px, 5px);
  }
}
@keyframes shimmer {
  to {
    transform: translate(100%);
  }
}
@keyframes textAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--item-width) * var(--item)));
  }
}
@keyframes scrollingX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(1 * var(--item-width) * var(--item)));
  }
}
/* End Mixin */
/* Start Grid */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: block;
}
.d-inline-flex {
  display: flex;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-white {
  color: white;
}

.m-0 {
  margin: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-auto {
  margin-right: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.p-0 {
  margin: 0;
}
.px-0 {
  margin-left: 0;
  margin-right: 0;
}
.px-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.py-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.pt-0 {
  margin-top: 0;
}
.pr-0 {
  margin-right: 0;
}
.pl-0 {
  margin-left: 0;
}
.pb-0 {
  margin-bottom: 0;
}

.h-100 {
  height: 100%;
}
.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto;
}

.align-items-start {
  align-items: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

/* End Grid */
/* Start Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Airnt";
  src: url("/assets/fonts/Airnt.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Airnt";
  src: url("/assets/fonts/Airnt-Quantum.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Airnt";
  src: url("/assets/fonts/Airnt-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans-Black.ttf");
  font-weight: 900;
}
:root {
  --ff-airnt: "Airnt", sans-serif;
  --ff-mona: "Mona Sans", sans-serif;
  --primary: var(--green);
  --black: #0f0f0f;
  --dark-green: #00331d;
  --gray: #8e95a2;
  --green: #00ff90;
  --purple: #6840d4;
  --red: #e44a47;
  --white: #fff;
  --yellow: #f4fd36;
  --secondary: #0c171a;
  --body-background: var(--black);
  --text-color: var(--gray);
  --title-color: var(--white);
  --hover: #152d27;
  --shape: clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%, 0 30%);
  --gradient: linear-gradient(to right, #00ff90, #f4fd36);
  --sab: env(safe-area-inset-bottom);
}

html {
  background-color: var(--body-background) !important;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  font-family: theme("fontFamily.geist");
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: theme("colors.gray.400");
  background-color: var(--body-background) !important;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#root {
  /* Preserve scrolling behavior */
  overflow-y: auto;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  background: transparent;
  border: 0;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
}
.wrapper::before, .wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: var(--body-background);
  width: 100%;
  height: 200vh;
  z-index: -1;
  pointer-events: none;
}
.wrapper::before {
  top: -190%;
}
.wrapper::after {
  bottom: -190%;
}

.overflow-hidden {
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container-custom {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}
@media only screen and (max-width: 479px) {
  .container-custom {
    padding: 12px;
  }
}

.link {
  color: var(--primary);
}
.link:hover {
  color: var(--primary);
}

.btn {
  font-family: var(--ff-mona);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
}
@media only screen and (max-width: 374px) {
  .btn {
    font-size: 15px;
  }
}
.btn.error .btn-border::before, .btn.error .btn-border::after {
  border-color: var(--red);
}
.btn.inactive .btn-border::before, .btn.inactive .btn-border::after, .btn.default .btn-border::before, .btn.default .btn-border::after {
  border-color: theme("colors.green.100");
}
.btn.inactive {
  cursor: default;
}
.btn .btn-border {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
}
.btn .btn-border::before, .btn .btn-border::after {
  --size: 4px;
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-color: var(--primary);
}
.btn .btn-border::before {
  left: -1px;
  border-left-width: 1px;
}
.btn .btn-border::after {
  right: -1px;
  border-right-width: 1px;
}
.btn .btn-border:first-child {
  top: -1px;
}
.btn .btn-border:first-child::before, .btn .btn-border:first-child::after {
  border-top-width: 1px;
}
.btn .btn-border:last-child {
  bottom: -1px;
}
.btn .btn-border:last-child::before, .btn .btn-border:last-child::after {
  border-bottom-width: 1px;
}
.btn .btn-primary,
.btn .btn-error,
.btn .btn-default,
.btn .btn-inactive {
  margin: 4px;
  padding: 14px 20px;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 374px) {
  .btn .btn-primary,
  .btn .btn-error,
  .btn .btn-default,
  .btn .btn-inactive {
    padding: 12px 20px;
  }
}
.btn .btn-primary {
  background: var(--gradient);
  color: var(--dark-green);
  box-shadow: 0 0 24px rgba(123, 255, 99, 0.35);
}
.btn .btn-default,
.btn .btn-inactive {
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: theme("colors.title");
}
.btn .btn-inactive {
  color: theme("colors.inactive");
}
.btn .btn-error {
  background: theme("backgroundImage.gradient-error");
  color: theme("colors.title");
  box-shadow: 0 0 24px rgba(229, 57, 53, 0.35);
}
.btn:hover .btn-primary {
  box-shadow: 0 0 24px rgba(123, 255, 99, 0.6);
  background: var(--primary);
}
.btn:hover .btn-error {
  box-shadow: 0 0 24px rgba(229, 57, 53, 0.6);
}

.text-point {
  text-shadow: 0 0 8px rgba(0, 255, 144, 0.45);
  background: linear-gradient(to right, #ffffff, #00ff90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-navbar-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow-white {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.__floater__arrow {
  display: none;
}

.react-joyride__tooltip {
  padding: 0 !important;
}
.react-joyride__tooltip > div:first-child > div {
  padding: 0 !important;
}

.map-continent_1::before {
  -webkit-clip-path: polygon(calc(50% - var(--line) * 2) 0, 100% calc(var(--shape) + var(--line)), 100% calc(100% - var(--shape)), 50% 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
          clip-path: polygon(calc(50% - var(--line) * 2) 0, 100% calc(var(--shape) + var(--line)), 100% calc(100% - var(--shape)), 50% 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
}
.map-continent_2::before {
  -webkit-clip-path: polygon(50% 0, calc(100% - var(--line)) calc(var(--shape) - var(--line) / 2), calc(100% - var(--line)) calc(100% - (var(--shape) - var(--line) / 2)), 50% 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
          clip-path: polygon(50% 0, calc(100% - var(--line)) calc(var(--shape) - var(--line) / 2), calc(100% - var(--line)) calc(100% - (var(--shape) - var(--line) / 2)), 50% 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
}
.map-continent_3::before {
  -webkit-clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape) - var(--line)), calc(50% - var(--line) * 2) 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
          clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape) - var(--line)), calc(50% - var(--line) * 2) 100%, 0 calc(100% - var(--shape)), 0 var(--shape));
}
.map-continent_4::before {
  -webkit-clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape)), calc(50% + var(--line) * 2) 100%, 0 calc(100% - var(--shape) - var(--line)), 0 var(--shape));
          clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape)), calc(50% + var(--line) * 2) 100%, 0 calc(100% - var(--shape) - var(--line)), 0 var(--shape));
}
.map-continent_5::before {
  -webkit-clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape)), 50% 100%, var(--line) calc(100% - (var(--shape) - var(--line) / 2)), var(--line) calc(var(--shape) - var(--line) / 2));
          clip-path: polygon(50% 0, 100% var(--shape), 100% calc(100% - var(--shape)), 50% 100%, var(--line) calc(100% - (var(--shape) - var(--line) / 2)), var(--line) calc(var(--shape) - var(--line) / 2));
}
.map-continent_6::before {
  -webkit-clip-path: polygon(calc(50% + var(--line) * 2) 0, 100% var(--shape), 100% calc(100% - var(--shape)), 50% 100%, 0 calc(100% - var(--shape)), 0 calc(var(--shape) + var(--line)));
          clip-path: polygon(calc(50% + var(--line) * 2) 0, 100% var(--shape), 100% calc(100% - var(--shape)), 50% 100%, 0 calc(100% - var(--shape)), 0 calc(var(--shape) + var(--line)));
}

/* End Reset CSS */
/* Start Header */
/* End Header */
/* Start Footer */
/* End Footer */
/* Start Loading */
/* End Loading */
/* Start Coming */
/* End Coming */
/* Start Section */
.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* End Section */
/* Start OL */
.ol-zoom {
  display: none;
  top: 100px !important;
  left: auto !important;
  right: 12px;
}
@media only screen and (max-width: 374px) {
  .ol-zoom {
    top: 90px !important;
  }
}

/* End OL */
/* Start Card */
.card {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.card .card__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 424px) {
  .card .card__list {
    padding: 20px 28px;
  }
}
@media only screen and (max-width: 399px) {
  .card .card__list {
    padding: 16px 24px;
  }
}

/* End Card *//*# sourceMappingURL=main.css.map */