/* Start Card */
.card {
  position: relative;
  padding: 16px;
  background: rgba(33, 33, 46, 0.25);
  border: 1px solid rgba(33, 33, 46, 1);
  .card__border {
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
    &::before, &::after {
      --size: 5px;
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
    }
    &::before {
      left: -1.5px;
      border-left: 1px solid theme('colors.gray.600');
    }
    &::after {
      right: -1.5px;
      border-right: 1px solid theme('colors.gray.600');
    }
    &:first-child {
      top: 0;
      &::before, &::after {
        top: -1.5px;
        border-top: 1px solid theme('colors.gray.600');
      }
    }
    &:nth-child(2) {
      bottom: 0;
      &::before, &::after {
        bottom: -1.5px;
        border-bottom: 1px solid theme('colors.gray.600');
      }
    }
  }
}
/* End Card */