/* Start Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt-Quantum.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt-Bold.otf');
  font-weight: 700;
}

:root {
  --ff-airnt: 'Airnt', sans-serif;
  --ff-mona: 'Mona Sans', sans-serif;
  --primary: var(--green);
  --black: #0f0f0f;
  --dark-green: #00331d;
  --gray: #8e95a2;
  --green: #00ff90;
  --purple: #6840d4;
  --red: #e44a47;
  --white: #fff;
  --yellow: #f4fd36;
  --secondary: #0c171a;
  --body-background: var(--black);
  --text-color: var(--gray);
  --title-color: var(--white);
  --hover: #152d27;
  --shape: clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%, 0 30%);
  --gradient: linear-gradient(to right, #00ff90, #f4fd36);
  // color-scheme: light dark;
}

body {
  font-family: theme('fontFamily.geist');
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: theme('colors.gray.400');
  background: var(--body-background);
  min-height: 100vh;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
#root {
  /* Preserve scrolling behavior */
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  background: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--body-background);
    width: 100%;
    height: 200vh;
    z-index: -1;
    pointer-events: none;
  }
  &::before {
    top: -190%;
  }
  &::after {
    bottom: -190%;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.container-custom {
  // height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  // overflow-y: auto;
  @include breakpoint(479) {
    padding: 12px;
  }
}

.link {
  color: var(--primary);
  &:hover {
    color: var(--primary);
  }
}

// Button
.btn {
  font-family: var(--ff-mona);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  // background: var(--black);
  @include breakpoint(374) {
    font-size: 15px;
  }
  &.error {
    .btn-border {
      &::before,
      &::after {
        border-color: var(--red);
      }
    }
  }
  &.inactive,
  &.default {
    .btn-border {
      &::before,
      &::after {
        border-color: theme('colors.green.100');
      }
    }
  }
  &.inactive {
    cursor: default;
  }
  .btn-border {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    &::before,
    &::after {
      --size: 4px;
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
      border-color: var(--primary);
    }
    &::before {
      left: -1px;
      border-left-width: 1px;
    }
    &::after {
      right: -1px;
      border-right-width: 1px;
    }
    &:first-child {
      top: -1px;
      &::before,
      &::after {
        border-top-width: 1px;
      }
    }
    &:last-child {
      bottom: -1px;
      &::before,
      &::after {
        border-bottom-width: 1px;
      }
    }
  }
  .btn-primary,
  .btn-error,
  .btn-default,
  .btn-inactive {
    margin: 4px;
    padding: 14px 20px;
    width: 100%;
    // transition: all 0.6s ease-out;
    text-align: center;
    @include breakpoint(374) {
      padding: 12px 20px;
    }
  }
  .btn-primary {
    background: var(--gradient);
    color: var(--dark-green);
    box-shadow: 0 0 24px rgba(123, 255, 99, 0.35);
  }
  .btn-default,
  .btn-inactive {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(16px);
    color: theme('colors.title');
  }
  .btn-inactive {
    color: theme('colors.inactive');
  }
  .btn-error {
    background: theme('backgroundImage.gradient-error');
    color: theme('colors.title');
    box-shadow: 0 0 24px rgba(229, 57, 53, 0.35);
  }
  &:hover {
    .btn-primary {
      box-shadow: 0 0 24px rgba(123, 255, 99, 0.6);
      background: var(--primary);
    }
    .btn-error {
      box-shadow: 0 0 24px rgba(229, 57, 53, 0.6);
    }
  }
}

.text-point {
  text-shadow: 0 0 8px rgba(0, 255, 144, 0.45);
  background: linear-gradient(to right, #ffffff, #00ff90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-navbar-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End Reset CSS */
