/* Start Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt-Quantum.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Airnt';
  src: url('/assets/fonts/Airnt-Bold.otf');
  font-weight: 700;
}

:root {
  --ff-airnt: 'Airnt', sans-serif;
  --ff-mona: 'Mona Sans', sans-serif;
  --primary: var(--green);
  --black: #0F0F0F;
  --dark-green: #00331D;
  --gray: #8E95A2;
  --green: #1AF7A8;
  --purple: #6840D4;
  --white: #fff;
  --yellow: #F4FD36;
  --secondary: #0C171A;
  --body-background: var(--black);
  --text-color: var(--gray);
  --title-color: var(--white);
  --hover: #152D27;
  --shape: clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%, 0 30%);
  --gradient: linear-gradient(to right, #00FF90, #F4FD36);
  // color-scheme: light dark;
}


body {
  font-family: var(--ff-geist);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: theme('colors.gray.400');
  background: var(--body-background);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  background: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

.wrapper {
  @include breakpoint(479) {
    overflow: hidden;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.container-custom {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 16px 100px;
  overflow-y: auto;
  @include breakpoint(479) {
    padding: 12px 12px 100px;
  }
}

.link {
  color: var(--primary);
  &:hover {
    color: var(--primary);
  }
}

// Button
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  background: var(--black);
  .btn-border {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    &::before, &::after {
      --size: 4px;
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
      border-color: var(--primary);
    }
    &::before {
      left: -1px;
      border-left-width: 1px;
    }
    &::after {
      right: -1px;
      border-right-width: 1px;
    }
    &:first-child {
      top: -1px;
      &::before, &::after {
        border-top-width: 1px;
      }
    }
    &:last-child {
      bottom: -1px;
      &::before, &::after {
        border-bottom-width: 1px;
      }
    }
  }
  .btn-primary {
    margin: 4px;
    background: var(--gradient);
    color: var(--dark-green);
    padding: 14px 20px;
    width: 100%;
  }
  .btn-default {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(16px);
    padding: 12px 12px;
    margin: 4px;
    width: 100%;
  }
}

.text-point {
  text-shadow: 0 0 8px rgba(0, 255, 144, 0.45);
  background: linear-gradient(to right, #FFFFFF, #00FF90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End Reset CSS */